/* Stil general */
body

{
    background-color:#2b2b2b; 
    color:rgb(188, 28, 28);
    font-family:Arial, Helvetica, sans-serif ;
    text-align: center;
}
/* Header */
header
{
    padding: 20px;
    font: size 24px;
    font-weight: bold;
}
/* Titlu */
h1 
{
    font: size 30px;
    margin: top 20px;
    margin-bottom: 15px;
    
}